## Our notes

In this file we created data frames for each year of data sets and we took some time to understand the data in each set. We corrected the column names, dropped irrelevant columns and merged all of the data frames together so we would have one complete data frame with all rows of data from 2013-2023.

  naics_dict = {
    "11": "Agriculture, Forestry, Fishing and Hunting",
    "21": "Mining, Quarrying, and Oil and Gas Extraction",
    "22": "Utilities",
    "23": "Construction",
    "31": "Manufacturing",
    "32": "Manufacturing",
    "33": "Manufacturing",
    "42": "Wholesale Trade",
    "44": "Retail Trade",
    "45": "Retail Trade",
    "48": "Transportation and Warehousing",
    "49": "Transportation and Warehousing",
    "51": "Information",
    "52": "Finance and Insurance",
    "53": "Real Estate and Rental and Leasing",
    "54": "Professional, Scientific, and Technical Services",
    "55": "Management of Companies and Enterprises",
    "56": "Administrative and Support and Waste Management and Remediation Services",
    "61": "Educational Services",
    "62": "Health Care and Social Assistance",
    "71": "Arts, Entertainment, and Recreation",
    "72": "Accommodation and Food Services",
    "81": "Other Services (except Public Administration)",
    "92": "Public Administration"

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from Biz_Set_Functions import *

In [2]:
# making df, lowering columns and adding year column

df12 = made_df('Data Sets/cbp12pr_mun.csv')
lower_columns(df12)
add_year(df12,2012)

df13 = made_df('Data Sets/cbp13pr_mun.csv')
lower_columns(df13)
add_year(df13,2013)

df14 = made_df('Data Sets/cbp14pr_mun.csv')
lower_columns(df14)
add_year(df14,2014)

df15 = made_df('Data Sets/cbp15pr_mun.csv')
lower_columns(df15)
add_year(df15,2015)

df16 = made_df('Data Sets/cbp16pr_mun.csv')
lower_columns(df16)
add_year(df16,2016)

df17 = made_df('Data Sets/cbp17pr_co.csv')
lower_columns(df17)
add_year(df17,2017)

df18 = made_df('Data Sets/cbp_pr_mun_2018.csv')
lower_columns(df18)
add_year(df18,2018)

df19 = made_df('Data Sets/cbp_pr_mun_2019.csv')
lower_columns(df19)
add_year(df19,2019)



df201 = made_df('Data Sets/2020-1.csv')
lower_columns(df201)
add_year(df201,2020)

df202 = made_df('Data Sets/2020-2.csv')
lower_columns(df202)
add_year(df202,2020)

df203 = made_df('Data Sets/2020-3.csv')
lower_columns(df203)
add_year(df203,2020)

df204 = made_df('Data Sets/2020-4.csv')
lower_columns(df204)
add_year(df204,2020)

df20 = pd.concat([df204,df203,df202,df201])
df20



df211 = made_df('Data Sets/_lmi_excel_QCEW_2021_Composición Industrial Municipio 1.csv')
lower_columns(df211)
add_year(df211,2021)

df212 = made_df('Data Sets/_lmi_excel_QCEW_2021_Composición Industrial Municipio 2.csv')
lower_columns(df212)
add_year(df212,2021)

df213 = made_df('Data Sets/_lmi_excel_QCEW_2021_Composición Industrial Municipio 3.csv')
lower_columns(df213)
add_year(df213,2021)

df214 = made_df('Data Sets/_lmi_excel_QCEW_2021_Composición Industrial Municipio 4.csv')
lower_columns(df214)
add_year(df214,2021)

df21 = pd.concat([df214,df213,df212,df211])
df21



df220 = made_df('Data Sets/2022_1.csv')
lower_columns(df220)
add_year(df220,2022)

df221 = made_df('Data Sets/2022_2.csv')
lower_columns(df221)
add_year(df221,2022)

df222 = made_df('Data Sets/2022_3.csv')
lower_columns(df222)
add_year(df222,2022)

df223 = made_df('Data Sets/2022_4.csv')
lower_columns(df223)
add_year(df223,2022)

df22 = pd.concat([df220,df221,df222,df223])
df22

,municipio,cty,industria,naics,unidades,empleo promedio,salrio total municipio primr trimestre 2022,promedio,year,salario total municipio segundo trimestre 2022,salario total municipio tercer trimestre 2022
0,Adjuntas,1,Total Municipio Primer Trimestre 2022,NaN,226,"1,770","8,170,863","4,616",2022,NaN,NaN
1,Adjuntas,1,"Agricultura, Bosque, Pesca y Caza",11,70,227,"475,068","2,096",2022,NaN,NaN
2,Adjuntas,1,Mineria,21,1,*,*,*,2022,NaN,NaN
3,Adjuntas,1,"Electricidad, Agua y Gas",22,1,*,*,*,2022,NaN,NaN
4,Adjuntas,1,Construcción,23,6,42,"153,147","3,646",2022,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3435,No Codificado,999,"Arte, Entretenimiento y Recreación",NaN,0,0,NaN,0,2022,NaN,0
3436,No Codificado,999,Alojamiento y Servicios de Alimentos,NaN,0,0,NaN,0,2022,NaN,0
3437,No Codificado,999,Otros Servicios Excepto Adm. Pública,NaN,0,0,NaN,0,2022,NaN,0
3438,No Codificado,999,Administración Pública,NaN,0,0,NaN,0,2022,NaN,0
3439,No Codificado,999,Otros (Establecimientos no Clasificados),NaN,0,0,NaN,0,2022,NaN,0

In [3]:
#translating and renaming column names
df20.columns = df20.columns.str.lower().str.replace('industria','industry').str.replace('cty','town').str.replace('unidades','establishments')
df20.columns = df20.columns.str.replace('industria','industry').str.replace('empleo promedio','average_employment')

df21.columns = df21.columns.str.lower().str.replace('industria','industry').str.replace('cty','town').str.replace('unidades','establishments')
df21.columns = df21.columns.str.replace('industria','industry').str.replace('empleo promedio','average_employment')

df22.columns = df22.columns.str.lower().str.replace('industria','industry').str.replace('cty','town').str.replace('unidades','establishments')
df22.columns = df22.columns.str.replace('industria','industry').str.replace('empleo promedio','average_employment',)

#dropping unneeded columns

df12 = df12.drop(['fipstate','empflag', 'emp_nf', 'emp', 'qp1_nf',
       'qp1', 'ap_nf', 'ap', 'n1_4', 'n5_9', 'n10_19', 'n20_49',
       'n50_99', 'n100_249', 'n250_499', 'n500_999', 'n1000', 'n1000_1',
       'n1000_2', 'n1000_3', 'n1000_4', 'censtate', 'cencty'], axis=1)
df13 = df13.drop(['censtate', 'cencty','qp1_nf','qp1','ap_nf','ap','emp_nf','emp','fipstate','n1_4', 'n5_9', 'n10_19', 'n20_49', 'n50_99',
       'n100_249', 'n250_499', 'n500_999', 'n1000', 'n1000_1', 'n1000_2',
       'n1000_3', 'n1000_4', 'empflag'], axis=1)
df14 = df14.drop(['censtate', 'cencty','qp1_nf','qp1','ap_nf','ap','emp_nf','emp','fipstate','n1_4', 'n5_9', 'n10_19', 'n20_49', 'n50_99',
       'n100_249', 'n250_499', 'n500_999', 'n1000', 'n1000_1', 'n1000_2',
       'n1000_3', 'n1000_4', 'empflag'], axis=1)
df15 = df15.drop(['censtate', 'cencty','qp1_nf','qp1','ap_nf','ap','emp_nf','emp','fipstate','n1_4', 'n5_9', 'n10_19', 'n20_49', 'n50_99',
       'n100_249', 'n250_499', 'n500_999', 'n1000', 'n1000_1', 'n1000_2',
       'n1000_3', 'n1000_4', 'empflag'], axis=1)
df16 = df16.drop(['censtate', 'cencty','qp1_nf','qp1','ap_nf','ap','emp_nf','emp','fipstate','n1_4', 'n5_9', 'n10_19', 'n20_49', 'n50_99',
       'n100_249', 'n250_499', 'n500_999', 'n1000', 'n1000_1', 'n1000_2',
       'n1000_3', 'n1000_4', 'empflag'], axis=1)
df17 = df17.drop(['censtate', 'cencty','qp1_nf','qp1','ap_nf','ap','emp_nf','emp','fipstate','n<5', 'n5_9', 'n10_19', 'n20_49', 'n50_99',
       'n100_249', 'n250_499', 'n500_999', 'n1000', 'n1000_1', 'n1000_2',
       'n1000_3', 'n1000_4', 'empflag'], axis=1)
df18 = df18.drop(['censtate', 'cencty','qp1_nf','qp1','ap_nf','ap','emp_nf','emp','fipstate','n<5', 'n5_9', 'n10_19', 'n20_49', 'n50_99',
       'n100_249', 'n250_499', 'n500_999', 'n1000', 'n1000_1', 'n1000_2',
       'n1000_3', 'n1000_4'], axis=1)
df19 = df19.drop(['censtate', 'cencty','qp1_nf','qp1','ap_nf','ap','emp_nf','emp','fipstate','n<5', 'n5_9', 'n10_19', 'n20_49', 'n50_99',
       'n100_249', 'n250_499', 'n500_999', 'n1000', 'n1000_1', 'n1000_2',
       'n1000_3', 'n1000_4'], axis=1)

In [4]:
#concatenating 

df12_19 = pd.concat([df12,df13,df14,df15,df16,df17,df18,df19])
df12_19

df12_19.columns = df12_19.columns.str.lower().str.replace('est','establishments').str.replace('fipscty','town')
df12_19

df20_22 = pd.concat([df20,df21,df22])
df20_22

df12_22 = pd.concat([df12_19, df20_22], axis = 0)
df12_22

,town,naics,establishments,year,municipio,industry,average_employment,salrio total municipio segundo trimestre 2019,promedio,salario total,...,unnamed: 25,unnamed: 26,average_employment,salrio total municipio cuarto trimestre 2021,promedio,salrio total municipio tercer trimestre 2021,salrio total municipio primer trimestre 2021,salrio total municipio primr trimestre 2022,salario total municipio segundo trimestre 2022,salario total municipio tercer trimestre 2022
0,1,------,126,2012,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,23----,7,2012,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,236///,4,2012,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2361//,4,2012,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,23611/,4,2012,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3435,999,NaN,0,2022,No Codificado,"Arte, Entretenimiento y Recreación",0,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3436,999,NaN,0,2022,No Codificado,Alojamiento y Servicios de Alimentos,0,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3437,999,NaN,0,2022,No Codificado,Otros Servicios Excepto Adm. Pública,0,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3438,999,NaN,0,2022,No Codificado,Administración Pública,0,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3439,999,NaN,0,2022,No Codificado,Otros (Establecimientos no Clasificados),0,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [5]:
#converting establishment column to float
df12_22["establishments"]=pd.to_numeric(df12_22["establishments"], errors='coerce')


#dropping null rows based on columns
df12_22.dropna(subset=['naics'], inplace=True)
df12_22.dropna(subset=['establishments'], inplace=True)
df12_22.isna().sum()


#dropping null rows based on having no useful data
df12_22 = df12_22[df12_22['municipio'] != 'No Codificado']
df12_22 = df12_22[df12_22['naics'] != '------']


#standardizing naics column
df12_22['naics'] = df12_22['naics'].apply(replace_naics)

In [6]:
#dropping rows of the bottom 10 industries and 2 columns we won't need

df12_22 = df12_22[df12_22['naics'] != '61']
df12_22 = df12_22[df12_22['naics'] != '51']
df12_22 = df12_22[df12_22['naics'] != '71']
df12_22 = df12_22[df12_22['naics'] != '49']
df12_22 = df12_22[df12_22['naics'] != '21']
df12_22 = df12_22[df12_22['naics'] != '55']
df12_22 = df12_22[df12_22['naics'] != '22']
df12_22 = df12_22[df12_22['naics'] != 'UI']
df12_22 = df12_22[df12_22['naics'] != '11']
df12_22 = df12_22[df12_22['naics'] != '92']


df12_22 = df12_22.drop(['industry','municipio'], axis=1)

In [7]:
#cleaning up the final data frame

# dropping unnecessary columns
df12_22 = df12_22.drop([ 'unnamed: 10', 'unnamed: 11',
       'unnamed: 12', 'unnamed: 13', 'unnamed: 14', 'unnamed: 15',
       'unnamed: 16', 'unnamed: 17', 'unnamed: 18', 'unnamed: 19',
       'unnamed: 20', 'unnamed: 21', 'unnamed: 22', 'unnamed: 23',
       'unnamed: 24', ' average_employment ',
       ' salrio total municipio cuarto trimestre 2021 ', ' promedio ',
       ' salrio total municipio tercer  trimestre 2021 ',
       ' salrio total municipio primer trimestre 2021 ',
       'salrio total municipio primr trimestre 2022',
       'salario total municipio segundo trimestre 2022',
       'salario total municipio tercer trimestre 2022','average_employment',
       'salrio total municipio segundo trimestre 2019','promedio','salario total','unnamed: 8','unnamed: 9',
       'unnamed: 25','unnamed: 26'], axis=1)

#we decided to group the towns by region to make graphing much more streamlined

df12_22['town'] = df12_22['town'].astype(str)
df12_22['town'] = df12_22['town'].apply(replace_town_with_region)
df12_22.town=df12_22.town.replace('995','999')


# correct column data type

df12_22['naics'] = df12_22['naics'].astype(int)


# renaming column
df12_22.columns = df12_22.columns.str.replace('town','region')

#dropping unneeded rows
df12_22 = df12_22[df12_22['region'] != '999']

#resetting the index
df12_22 = df12_22.reset_index(drop=True)

In [8]:
# Pickle the DataFrame to use elsewhere
df12_22.to_pickle('full_clean_df.pkl')

# Step 1: Load the DataFrame from the pickle file
df = pd.read_pickle('full_clean_df.pkl')

# Step 2: Save the DataFrame to a CSV file
df.to_csv('pr_biz_dataset_clean.csv', index=False)

<bound method NDFrame.to_csv of           region  naics  establishments  year
0       Mountain     23             7.0  2012
1       Mountain     23             4.0  2012
2       Mountain     23             4.0  2012
3       Mountain     23             4.0  2012
4       Mountain     23             1.0  2012
...          ...    ...             ...   ...
213785   Western     54            29.0  2022
213786   Western     56            13.0  2022
213787   Western     62            82.0  2022
213788   Western     72            56.0  2022
213789   Western     81            21.0  2022

[213790 rows x 4 columns]>